@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --fonte-padrao: 'Poppins', sans-serif;
    --cor-violeta: rgb(132,14,201);
    --cor-dark: rgba(34,34,34);
}

/*Estilizando a viewport*/
body {
    background-color: var(--cor-dark);
    color: white;
    font-family: var(--fonte-padrao);
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Div com nome de "logo"*/
#logo {
    flex-direction: column;
    line-height: 10px;
}

h1 {
    font-weight: normal;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--cor-violeta);
    transition-duration: 0.3s;
}

#link-especial {
    border: 2px solid var(--cor-violeta);
    padding: 10px;
    border-radius: 15px;
}

#link-especial:hover {
    background-color: var(--cor-violeta);
    color: white;
}

main {
    margin-top: 50px;
    /*Flexbox*/
    display: flex;
    flex-direction: row;
}

img {
    width: 580px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
}

span {
    color: var(--cor-violeta);
}

p {
    font-weight: 300;
    line-height: 20px;
    max-width: 85.5%;/*Em relação à aside*/
    text-align: justify;
}

form {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    width: 70%;/*Em relação à aside*/
}

input {
    margin-top: 20px;
    height: 20px;
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

#enviar {
    background-color: var(--cor-violeta);
    color: white;
    height: 50px;
    width: 50%;/*Em relação à form*/
    font-weight: bold;
}

#enviar:hover {
    cursor: pointer;
}