@charset "UTF-8";

/*Configuração Global*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #D92332, #A61F38, #4A9EDD);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 12px;
    margin: auto;
    box-shadow: 5px 5px 15px #50101cb9;
}

p{
    text-align: justify;
}

h1{
    color: #A61F38;
    text-align: center;
    text-shadow: 1px 1px 2px #50101cb9;
}

h2{
    color: #1c405e;
}