@charset "UTF-8";

@media screen and (max-width: 760px){

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
        margin-top: 15px;
    }

    ul, p {
        text-align: center;
    }

    h1 {
        font-size: 38px;
        text-align: center;
    }

    form {
        margin: 0 auto;
        width: 100%;/*Na versão web está 70%*/
    }

    input {
        align-self: center;
    }

    article img {
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 450px){
    h1 {
        line-height: 28px;
        font-size: 28px;
    }

    main {
        margin-top: 10px;
    }
}


@media screen and (max-width: 1200px){

    h1 {
        font-size: 38px;
    }
}