@media screen and (max-width: 860px){

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    ul {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 38px;
    }

    p {
        text-align: center;
        font-size: 16px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    article img {
        display: none;
    }
}