@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root {
    --cor-contraste: #DAA520;
    --fonte-especial: 'Goldman', cursive;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    color: white;
    font-family: var(--fonte-especial);
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 170px;
    height: 100px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

a:hover {
    color: var(--cor-contraste);
    transition-duration: 0.3s;
}

#menu-especial {
    border: 2px solid var(--cor-contraste);
    border-radius: 15px;
    padding: 10px
}

#menu-especial:hover {
    background-color: var(--cor-contraste);
    color: white;
}

article img {
    width: 630px;
}

main {
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

h1 {
    font-size: 50px;
    line-height: 10px;
}

span {
    color: var(--cor-contraste);
}

p {
    font-size: 18px;/**/
    font-weight: 300;
    line-height: 20px;
    max-width: 500px;
    text-align: justify;
}

form {
    width: 70%;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-radius: 20px;
    height: 20px;
    margin-top: 15px;
    padding: 15px;
    font-size: 15px;
}

#bt-enviar {
    font-weight: bold;
    background-color: var(--cor-contraste);
    color: white;
    height: 50px;
    width: 50%;
}

#bt-enviar:hover {
    cursor: pointer;
}